# Ignore everything
*

# Include .gitignore
!/.gitignore

# Include nvim config (and its contents)
!/nvim/
!/nvim/**
# Include karabiner config
!/karabiner/
!/karabiner/*

# Include tmux config (and its contents)
!/tmux/
!/tmux/**

!/tmuxinator/
!/tmuxinator/**

# Sesh
!/sesh/
!/sesh/**

# But ignore tmux/plugins (and its contents)
/tmux/plugins/
/tmux/plugins/**
